DATABASE_URL=
BETTER_AUTH_SECRET=RYl1oZAvY2JqX/hCMXIPlGFdyBneNqOBgqywTdWC9w0=
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:5173,http://aiproxy.shop,http://www.aiproxy.shop
BETTER_AUTH_URL=http://localhost:5173/api
## DOMAIN (optional, defaults to aiproxy.shop)
APP_DOMAIN=
CLIENT_ORIGIN=
## OSS MODE (optional, set true to disable hosted plan limits)
IS_OSS=true
## EMAIL

RESEND_API_KEY=
AXIOM_DATASET=
AXIOM_TOKEN=

RSA_PRIVATE_KEY=
RSA_PUBLIC_KEY=

ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=

ALI_CAPTCHA_API_KEY=

ZPAYZ_CID=
ZPAYZ_PID=
ZPAYZ_PAY_KEY=
ZPAYZ_GATEWAY=https://zpayz.cn/submit.php