@import 'tailwindcss';
@source '../../../packages/phone-auth/src/client/**/*.{ts,tsx}';

html,
body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

:root {
  --font-sans:
    'Geist', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --font-mono:
    'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-family: var(--font-sans);
  font-size: 15px;
}

.ant-menu-inline-collapsed .ant-menu-item {
  display: flex !important;
  align-items: center !important;
}

input:-webkit-autofill {
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: var(--foreground) !important;
}

:root {
  --background: 255, 255, 255;
  --foreground: 17, 24, 39;
  --border: 229, 231, 235;

  --primary: 0, 0, 0;
  --primary-foreground: 255, 255, 255;

  --secondary: 107, 114, 128;
  --muted: 249, 250, 251;

  --danger: 220, 38, 38;
  --success: 21, 128, 61;
}

:root.dark {
  --background: 10, 10, 10;
  --foreground: 243, 244, 246;
  --border: 38, 38, 38;

  --primary: 255, 255, 255;
  --primary-foreground: 0, 0, 0;

  --secondary: 156, 163, 175;
  --muted: 23, 23, 23;
}

@theme {
  --color-border: rgba(var(--border), 1);
  --color-background: rgba(var(--background), 1);
  --color-foreground: rgba(var(--foreground), 1);
  --color-primary: rgba(var(--primary), 1);
  --color-primary-foreground: rgba(var(--primary-foreground), 1);
  --color-secondary: rgba(var(--secondary), 1);
  --color-muted: rgba(var(--muted), 1);
  --color-danger: rgba(var(--danger), 1);
  --color-success: rgba(var(--success), 1);
}

.h-screen {
  height: var(--true-vh, 100vh) !important;
}

.min-h-screen {
  min-height: var(--true-vh, 100vh) !important;
}

.webkit-scrollbar-hidden::-webkit-scrollbar {
  display: inline;
}
