# Example environment variables for docker-compose
# Database
DATABASE_URL=postgresql://postgres:postgres@postgresql:5432/openproxy

# Auth
BETTER_AUTH_SECRET=your-secret
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:5173,http://aiproxy.shop,http://www.aiproxy.shop
BETTER_AUTH_URL=http://localhost:5173/api
APP_DOMAIN=
CLIENT_ORIGIN=

# Email
RESEND_API_KEY=
AXIOM_DATASET=
AXIOM_TOKEN=

# RSA
RSA_PRIVATE_KEY=
RSA_PUBLIC_KEY=

# Alibaba Cloud
ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
ALI_CAPTCHA_API_KEY=

# ZPayZ
ZPAYZ_CID=
ZPAYZ_PID=
ZPAYZ_PAY_KEY=
ZPAYZ_GATEWAY=https://zpayz.cn/submit.php

REDIS_URL=redis://redis:6379
